src/*.exe
src/umtcoin
src/umtcoind
src/test_umtcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.umtcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
umtcoin-qt
Umtcoin-Qt.app

# Unit-tests
Makefile.test
umtcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
